/* Comment list */
.comment-reply-link {
	margin: 0;
}
.comment {
	padding-top: 50px;
	margin-top: -50px;
}
.comment .meta {
	border-bottom: 1px solid #D8D8D8;
	margin-left: 3.5rem;
	margin-right: 6.5rem;
}
#comments-list li:target .panel {
	background-color: #ECFAFF;
}
#comments-list img.avatar {
	float: left;
	max-height: 3rem;
	max-width: 3rem;
	margin-right: 1rem;
	border-radius: 50%;
	transition: border-radius 300ms ease-out;
}
#comments-list img.avatar:hover {
	border-radius: 0;
}
.panel:hover .comment-reply-link {
	background-color: #008CBA;
	color: #fff;
}
.panel .comment-reply-link:hover {
	background-color: #007095;
	color: #fff;
}
#comments-list ul {
	padding: 0;
	margin: 0;
}
#comments-list li {
	list-style: none;
	margin-bottom: 1.5rem;
}
#comments-list .panel:hover {
	border-left: 0.5rem solid #007095;
}
#comments-list .panel {
	transition: border-left 300ms ease-out, color 300ms ease-out;
	border:0;
	border-left: 0.5rem solid #008CBA;
	background-color: #F2F2F2;
	padding:0.75rem;
	padding-left:1.25rem;
	margin: 0;
}
#comments-list li ul {
	padding-left: 1rem;
	padding-top: 1.5rem;
	border-left: 0.5rem solid #008CBA;
}
#comments-list #respond { 
	padding-top: 1rem;
	padding-left: 1rem;
	border-left: 0.5rem solid #008CBA;
} 


/* Comment form */

#respond .allowed-tags {
	font-size: 0.83rem
}

#cancel-comment-reply-link { 
	transition: background-color 300ms ease-out, color 300ms ease-out;
	position: absolute;
	right: 1rem;
	margin-top: -0.55rem;
}

#cancel-comment-reply-link:hover {
	background-color: #CF280E;
	color: #FFF;
}

#commentform fieldset {
	margin-top: 0;
}
.form-submit {
	display:none;
}
